.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p Hosted by #[a(href='https://pages.github.com')= 'Github Pages'] / #[a(href='https://pages.coding.me')= 'Coding Pages']
    p © #{year} #[a(href=config.url)!= config.author], unless otherwise noted.
